[Unit]
Description=GFlick server
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-abnormal
User=gflick
Group=gflick
WorkingDirectory=/home/gflick/gflick
# Needs PYTHONUNBUFFERED so logs actually show up in journalctl:
Environment="PYTHONUNBUFFERED=1"
ExecStart=/bin/bash -c 'export PATH=$PATH:$HOME/.local/bin; gflick-prod'

[Install]
WantedBy=multi-user.target
